body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

* {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
  background-image: url(../images/lauterbrunnen.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  margin-bottom: 100px;
  justify-content: space-evenly;
}

h1 {
  font-size: 90px;
}

header {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: auto
}

.hidden {
  display: none;
}

.login-form,
.trip-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 40vh;
  background-color: white;
  opacity: .8;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  font-size: 48px;
  width: 25vw;
  margin-top: 200px;
}

.welcome-user {
  margin-top: 150px;
}

.main-trip-page {
  overflow-x: scroll;
  border: 1px solid black;
  height: 67vh;
  width: auto;
  background-color: gray;
  opacity: .8;
  margin-top: 200px;
}

.trips-page-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 80px;
}

.all-trips-grid,
.destinations-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.trip-card,
.destination-card,
.booked-trip-card {
  border: 1px solid blue;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 20px auto;
  padding:5px 5px;
  height: 550px;
  width: 320px;
}

.trips-page-header {
  font-size: 28px;
}

.trips-heading,
.find-trip-input-page {
  margin-top: 50px;
  margin-left: 50px;
}

.trips-total {
  margin-left: 50px;
}

.user-trips-img,
.destination-card-img {
  height: 160px;
  width: auto;
}

#duration-input {
  width: 150px;
}

.destinations-page {
  height: 800px;
  overflow-y: scroll;
}

#booked-trip-container {
  display: flex;
  flex-direction: column;
}
.booked-trip-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.booked-trip-card-details {
  font-size: 18px;
}

.red {
  color: red;
}

.green {
  color: green;
}